@import "./src/assets/theme/inspired/theme";

.main-component {
  position: relative;
  top: 6rem;
  overflow-y: scroll;
  margin: 0;
  max-height: calc(100vh - 6rem);
  height: 100%;
  max-width: 100vw;
  width: 100%;
}

@media screen and (min-width: $xl) {
  .main-component {
    margin: 0 3em;
    max-width: calc(100vw - 6rem);
  }
}
