@import "./src/assets/styles/style";

.projects-list {
  display: grid;
  gap: 7rem 2rem;
  grid-template-columns: repeat(1, 100%);

  & .project-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    opacity: 0.9;
    transition: ($transition - 0.2s);
    width: 100%;

    &:hover {
      opacity: 1;
      transition: ($transition - 0.2s);
      transform: scale(1.0075);
    }

    & .project-url-cover {
      object-fit: revert;
      height: 10rem;
      width: 10rem;
    }

    & .project-content {
      display: flex;
      gap: 0.1rem;
      flex-direction: column;

      & .link-to-project {
        text-decoration: underline;
        transition: ($transition - 0.2s);

        &:hover {
          text-decoration-color: $text--linear-color-1;
          transition: ($transition - 0.2s);
        }
      }

      & .source-code {
        text-decoration: underline;
        transition: ($transition - 0.2s);

        &:hover {
          text-decoration-color: $text--linear-color-1;
          transition: ($transition - 0.2s);
        }
      }
    }
  }
}

@media screen and (min-width: $sm) {
  .projects-list {
    & .project-container {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: $lg) {
  .projects-list {
    grid-template-columns: repeat(2, calc(100% / 2));
  }
}

@media screen and (min-width: $xl2) {
  .projects-list {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
}
