@import "./src/assets/theme/inspired/theme";

.not-found-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  & .not-found-text {
    position: relative;
    padding: 0.5em 1em;
  }
  & .not-found-back {
    background: $btn-back-bg;
    padding: 0.1em 0.5em;
    transition: all $transition;
    &:hover {
      box-shadow: $shadow-measurements $shadow-color;
    }
  }
}
