<nav class="nav-container">
  <div class="nav-hamburger">
    <div class="logo-container">
      <a [routerLink]="'/'">
        <img class="logo" src="assets/images/icons/logo.svg" alt="logo"/>
      </a>
    </div>
    <span id="hamburgerElement" class="hamburger-element">|||</span>
  </div>
  <span id="navBackgroundShow" class="nav-background-show"></span>
  <div id="navHamburgerContent" class="nav-hamburger-content">
    <div class="nav-hamburger-links">
<!--      <a class="nav-hamburger-link" routerLink="/">-->
<!--        {{ "nav-links.home" | translate }}-->
<!--      </a>-->
      <ul class="languages-list">
        {{
        currentLanguage.label
        }}
        <div class="language-container">
          <li
            *ngFor="let language of languages"
            (click)="useLanguage(language)"
          >
            <span class="language">
              {{ language.label }}
            </span>
          </li>
        </div>
      </ul>
    </div>
    <div class="nav-hamburger-footer">
      <a class="nav-hamburger-link" href="https://github.com/Curipoma/">
        <img
          class="nav-hamburger-link-icon"
          src="assets/images/icons/github-64.svg"
          alt="github"
        />
      </a>
      <a
        class="nav-hamburger-link"
        href="https://www.linkedin.com/in/alvaro-curipoma-713353229/"
      >
        <img
          class="nav-hamburger-link-icon"
          src="assets/images/icons/linkedin-96.svg"
          alt="linkedin"
        />
      </a>
    </div>
  </div>
  <!-- animated -->
  <div class="nav-top">
    <a [routerLink]="'/'" class="logo-container">
      <img class="logo" src="assets/images/icons/logo.svg" alt="logo"/>
    </a>
<!--    <div class="nav-top-links">-->
<!--      <a class="nav-top-link" routerLink="/">-->
<!--        {{ "nav-links.home" | translate }}-->
<!--      </a>-->
<!--    </div>-->
    <ul class="languages-list">
      {{
      currentLanguage.label
      }}
      <div class="language-container">
        <li *ngFor="let language of languages" (click)="useLanguage(language)">
          <span class="language">
            {{ language.label }}
          </span>
        </li>
      </div>
    </ul>
  </div>
  <!--  nav in little screen-->
  <div class="nav-right">
    <small class="text">
      +593 993582075
    </small>
    <span class="link-separate">|</span>
    <a class="link" href="https://github.com/Curipoma/">
      <img
        class="nav-icon"
        src="assets/images/icons/github-64.svg"
        alt="github"
      />
    </a>
    <span class="link-separate">|</span>
    <a
      class="link"
      href="https://www.linkedin.com/in/alvaro-curipoma-713353229/"
    >
      <img
        class="nav-icon"
        src="assets/images/icons/linkedin-96.svg"
        alt="linkedin"
      />
    </a>
    <span class="line-vertical"></span>
  </div>
  <div class="nav-left">
    <a class="text" href="mailto:alvarocuripoma@gmail.com">
      alvarocuripoma&#64;gmail.com
    </a>
    <span class="line-vertical"></span>
  </div>
</nav>
