@import "./src/assets/theme/inspired/theme";

.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: auto;
  max-width: $xl;
  width: 100%;

  & .about-me {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .title {
      text-align: center;
      padding-bottom: 5rem;
    }

    & .name {
      padding: 0 0 1rem 0;

      & .my-name {
        text-align: left;
        width: fit-content;
      }
    }

    & .description {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      & .me-photo {
        border-radius: 100%;
        border: $border-width solid $primary-text-color;
        border-image-slice: 1;
        height: 5rem;
      }

      & .description-text {
        text-align: left;
      }
    }

    & .social-networks {
      display: none;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;

      & .github-icon {
        height: 2rem;
      }

      & .linkedin-icon {
        height: 2rem;
      }
    }
  }

  & .projects {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .title {
      text-align: center;
      padding-bottom: 5rem;
    }

    & .projects-list {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 100%;

      & .project-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        & .project-content-left {
          display: flex;
          flex-direction: row;
          gap: 2rem;
          padding-right: 2rem;

          & .project-title {
            font-size: 3rem;
          }

          & .project-img {
            width: 20rem;
            height: 10rem;
          }
        }

        & .project-content-right {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          width: 100%;

          & .project-content-title {
          }

          & .project-content-description {
            color: $secondary-text-color;
          }

          & .source-code {
            color: $primary-color;
          }

          & .technologies {
            display: flex;
            gap: 1rem;

            & .technology {
              display: inline-flex;
              border: $border-width solid $secondary-text-color;
              border-radius: $border-radius;
              padding: 0 0.5rem;
            }
          }
        }
      }
    }
  }

  & .contact {
    & .title {
      text-align: center;
      padding-bottom: 5rem;
    }
  }
}

@media screen and (max-width: $xl) {
  .about-me-container {
    .about-me {
      & .social-networks {
        display: flex;
      }
    }
  }
}
