<div class="about-me-container">
  <div class="about-me">
    <div class="content-left">
      <h1 class="my-name">{{ "me.name" | translate }}</h1>
      <div class="description">
        <h2 class="description-title">{{ "me.carer" | translate }}</h2>
        <p class="description-body-text">
          {{ "me.description" | translate }}
        </p>
        <div class="more-options-about-me">
          <a href="https://github.com/Curipoma/">
            <img
              class="github-icon"
              src="assets/images/icons/github-64.svg"
              alt="github"
            />
          </a>
          <a href="https://www.linkedin.com/in/alvaro-curipoma-713353229/">
            <img
              class="linkedin-icon"
              src="assets/images/icons/linkedin-96.svg"
              alt="linkedin"
            />
          </a>
          <a href="mailto:alvarocuripoma@gmail.com" class="my-email">
            <small> alvarocuripoma@gmail.com </small>
          </a>
        </div>
      </div>
    </div>
    <img class="me-photo" src="assets/images/icons/me.png"/>
  </div>
</div>
