$bg-color: rgb(18, 21, 31);
$color-primary: #728bcb;

$color-secondary: #11151e;
$color-tertiary: rgba(17, 21, 30, 0.9);
$color-quaternary: rgba(17, 21, 30, 0.8);

$text-color: #e1d2ff;
$text--linear-color-1: #00c2ff;
$text--linear-color-2: #b700ff;

// ========================================================================

$shadow-color: rgba(0, 0, 0, 1);
$border-color: rgba(165, 165, 203, 0.5);

$line: #62747c;

// =========================================================================
// me

// =========================================================================
// project

// =========================================================================
// not-found

$btn-back-bg: rgb(10, 111, 157);

// =========================================================================
// nav bar

$nav-top-btn-before-bg-color: rgb(56, 70, 100);
$nav-top-btn-after-bg-color: rgb(114, 139, 203);
